*,
*::before,
*::after {
	box-sizing: border-box;
}

/* custom properties */

:root {
	--ff-primary: 'Montserrat', sans-serif;
	--ff-secondary: 'Roboto Mono', monospace;

	--fw-light: 200;
	--fw-reg: 400;
	--fw-bold: 700;
       
	--clr-light: #ffffff;
	--clr-dark: #20202c;
	--clr-accent: #f10791;

}
	@media (min-width: 800px) {
		:root {
			--fs-h1: 4.5rem;
			--fs-h2: 3.75rem;
			--fs-h3: 1.5rem;
			--fs-body: 1.125rem;
		}
}


html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
}


img {
	display: block;
	width: 100%;
}

strong {
	font-weight: var(--fw-bold);
}

h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}

.section__title {
	margin-bottom: 0.25em;
}

.section__title--heading {
	font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
	color: var(--clr-light);
	margin: 0 1.5em;
	padding: 5em;
	font-size: 3rem;
	padding-left: 0px;
}

.section__title--heading strong {
	color: var(--clr-accent);
	font-family: 'Roboto Mono', monospace;
	font-size: 4.4rem;
	letter-spacing: .3rem;
	font-weight: var(--fw-bold);
}

.feature__subtitle {
	margin: 0;
	font-size: var(--fs-h3);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.logo {
	font-size: 1.8rem;
	font-family: var(--ff-primary);
	color: var(--clr-light);
	padding-left: 3em;
}

.nav {
	position: fixed;
	background-color: var(--clr-dark);
	color: var(--clr-light);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}

.nav__list {
	list-style: none;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav__link {
	color: inherit;
	font-weight: var(--fw-bold);
	font-size: var(--fs-h2);
	text-decoration: none;
}

.nav__link:hover {
	color: var(--clr-accent);
}


.nav-toggle {
	padding: 1.5em;
	background: transparent;
	border: 0;
	cursor: pointer;
	position: absolute;
	right: 1em;
	z-index: 1000;
}

.nav-open .nav {
	transform: translateX(0);
}

.nav-open .nav-toggle {
	position: fixed;
}

.nav-open .hamburger {
	transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
	transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
	opacity: 0;
}

.hamburger {
	display: block;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	background: var(--clr-light);
	width: 3em;
	height: 2px;
	border-radius: 1em;
	transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
}

.hamburger::before {
	top: 6px;
}
.hamburger::after {
	bottom: 6px;
}

.intro__img {
	position: relative;
}

.main-image {
	background-image: url(../img/hero-background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
}


@media screen and (min-width: 100px) and (max-width: 600px){

	.logo {
		font-size: 1rem;
		font-family: var(--ff-primary);
		color: var(--clr-light);
		padding-left: 2em;
	}	

	.nav-toggle {
		display: none;
	}

	.section__title--heading {
		font-family: var(--ff-primary);
		font-weight: var(--fw-bold);
		color: var(--clr-light);
		margin: 0 1.5em;
		padding: 5em;
		font-size: 1.7rem;
		padding-left: 0px;
	}

	.section__title--heading strong {
		color: var(--clr-light);
		font-family: 'Roboto Mono', monospace;
		font-size: 2rem;
		letter-spacing: .3rem;
	}
}


	@media only screen and (min-width: 601px) and (max-width: 1199px){

	.nav-toggle {
		display: none;
	}

	.section__title--heading strong {
		color: var(--clr-light);
		font-family: 'Roboto Mono', monospace;
		font-size: 4rem;
		letter-spacing: .3rem;
	}
}



/* my work portfolio */

.case-title__section h2 {
	text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
    margin: 100px; 
	color: var(--clr-light);
}

.content{
	max-width: 2000px;
	margin: 0 auto;
	margin-bottom: 200px;
}

.content .row h3, h4, p{
	display: grid;
	justify-items: start;
	color: var(--clr-light);
	font-family: var(--ff-primary);
	font-size: var(--fs-h3);
	font-weight: var(--fw-reg);
	padding: 0px;
	line-height: 40px;
}


.content .row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 250px;
	gap: 250px;
	margin: 100px;
}

.content .row .box-1 img{
	width: 100%;
	align-items: center;
	
}


.content .row .box-2 {
	display: grid;
	align-items: center;
	
}


.content .row .box-4 img {
	width: 100%;
	align-items: center;
	
}

.content .row .box-5 img {
	width: 100%;
	align-items: center;
	
}

.content .row .box-6 {
	padding: 0px;
	
}

.content .row .box-7 {
	padding: 0px;
	
}


.content .box-8 img {
	width: 100%;
	align-items: center;
}


.content .row .box-9 img {
	width: 100%;
	align-items: center;
	
}

.content .row .box-10 {
	padding: 0px;
}


@media screen and (min-width: 100px) and (max-width: 600px) {

	.content{
		max-width: 2000px;
		margin-top: 0px;
		margin-bottom: 200px;
	}


	.content .row{
		display: grid;
		grid-template-columns: 1fr;
		max-width: 400px;
		margin: 0 auto;
	}
	
	.content .row h3{
		justify-content: center;
		margin: 0px;
		padding: 0px;
	}

	.content + .content{
		margin-left: 2em;
	}

	.content .row h4, p{
		display: none;
		
	}

	.content .row .box-1 { 
		order: 1; 

	}
	.content .row .box-2 { 
		order: 2; 
	}
	.content .row .box-3 { 
		order: 4; 
	}
	.content .row .box-4 { 
		order: 3; 
	}
	.content .row .box-5 { 
		order: 5;
	}
	.content .row .box-6 { 
		order: 6; 
	}
	.content .row .box-7 { 
		order: 8;
	}
	.content .row .box-8 { 
		order: 7;
	}
	.content .row .box-9{ 
		order: 9; 
	}

	.content .row .box-10 { 
		order: 10; 
	}

}



@media only screen and (min-width: 749px) and (max-width: 1199px) {
	
	.content{
		max-width: 2000px;
		margin-top: 0px;
		margin-bottom: 200px;
	}


	.content .row{
		display: grid;
		grid-template-columns: 1fr;
		max-width: 400px;
		margin: 0 auto;
	}

	.content .row p{
		display: none;
		
	}
	
	.content .row .box-1 { 
		order: 1; 

	}
	.content .row .box-2 { 
		order: 2; 
	}
	.content .row .box-3 { 
		order: 4; 
	}
	.content .row .box-4 { 
		order: 3; 
	}
	.content .row .box-5 { 
		order: 5;
	}
	.content .row .box-6 { 
		order: 6; 
	}
	.content .row .box-7 { 
		order: 8;
	}
	.content .row .box-8 { 
		order: 7;
	}
	.content .row .box-9{ 
		order: 9; 
	}

	.content .row .box-10 { 
		order: 10; 
	}

}



/* about me */
.about {
	background-color: #E5E4E2;
	padding: 100px;
	margin: 0 auto;
}

.all-about__me h2 {
	position: relative;
	color: var(--clr-dark);
	font-family: var(--ff-primary);
	font-size: 1.5rem;
	font-weight: var(--fw-bold);	
}

.all-about__me h3 {
	position: relative;
	color: var(--clr-dark);
	font-family: var(--ff-primary);
	font-size: 1.5rem;
	font-weight: var(--fw-bold);	
}

.all-about__me p {
	position: relative;
	color: #000;
	font-size: 1.3em;
	line-height: 1.5;
	margin-right: 500px;
	margin-left: 0px;
}

.link-img{
	background: url('/img/link-img.jpg') no-repeat;
	width: 200px;
    height: 200px;
    margin-top: -400px;
    margin-right: 84px;
    float: right;
    border-radius: 50%;
	position: relative;
}


#me h4{
	font-size: 1.8rem;
	font-family: var(--ff-secondary);
	margin-top: -140px;
    margin-right: 48px;
    float: right;
	color: #000;
	font-weight: 100;
	position: relative;
}

#me  h4:after {
	content: '';
	display: table;
	clear: both;
}

.link-img:after {
	content: '';
	display: table;
	clear: both;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
	.all-about__me p {
		display: none;
	}

	.link-img, h4 {
		display: none;
	}
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
	.all-about__me p{
		font-size: 1rem;
		margin: 0 auto;
	}

	.link-img, h4 {
		display: none;
	}
}






#skills{
	background: white;
}

.wrapper {
	padding: 20px;
}


.center h2{
	text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
    margin: 100px; 
	color: var(--clr-dark);
}

.center h3{
	text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    margin: 0px;
	padding-top: 0px;
    color: var(--clr-dark);
}

.wrapper .trades h4{
	color: var(--clr-dark);
	justify-content: center;
}

.wrapper .row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 230px;
	justify-items: center;
	align-items: center; 
	margin: 80px 79px;
	grid-row-gap: 50px;
	grid-column-gap: 0;
	
}

.wrapper .trades .col-1 {
	justify-items: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}


.row .col-2 {
	padding: 20px;

}

.row .col-3 {
	padding: 20px;
	
}

.row .col-4 {
	padding: 20px;
	
}

.row .col-5 img {
	width: 95px;
	align-items: center;
	
}

.row .col-6 {
	padding: 20px;
	
}

.row .col-7 {
	padding: 20px;
	
}

.row .col-8 img{
	width: 85px;
	align-items: center;
}

.row .col-9 {
	width: 100px;
	padding: 0px;
	
}

.row .col-10 img {
	width: 80px;
	padding: 0px;
}

.row .col-11 {
	padding: 20px;
	
}

.row .col-12 img {
    width: 111px;
	padding: 0px;
	
}

.tech{
	text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
    margin: 10px; 
	color: var(--clr-dark);
}

@media screen and (min-width: 100px) and (max-width: 600px) {
	.wrapper .row{
		display: grid;
		grid-template-columns: 1fr;
		max-width: 500px;
		margin: 0 auto;
	}
	
	.wrapper .row + .wrapper .row{
		margin: 0 auto;
	}

}



/* footer starts here */

.footer-container {
	display: grid;
	background-color: #030e97;
	text-align: center;
	color: var(--clr-light);
	padding: 2em 0;
	flex-direction: column;
}

.footer-container .company-details h2 {
	color: var(--clr-light);
	margin: 65px;
	font-size: 2rem;
	text-align: center;
	font-family: var(--ff-primary);
}

.footer-container .row {
	margin-bottom: 20px;
	line-height: 1.5;
	flex-direction: column;
}

.footer-container .row .column {
	float: left;
	width: 33.33%;
	padding: 10px;
}


.footer-container .row p {
   	font-weight: var(--fw-light);
	display: block;
}

.footer-container .row .column a {
	color: var(--clr-light);
	text-decoration: none;
}

.footer-container .row .column a:hover {
	color: var(--clr-accent);
}

.footer-container .row:after {
	content: '';
	display: table;
	clear: both;
}

.footer-container .row .column h3 {
	font-size: 2rem;
	font-family: var(--ff-primary);
	padding-bottom: 32px;
}

.footer-container .column .social-media li {
	display: inline-block;
    padding: 5px;
    margin-right: 56px;
    font-size: 1.8rem;	
}


.footer-container .column .social-media i{
    color: var(--clr-accent);
    margin-right: 0px;
} 

.footer-container .column .social-media i:hover{
	color: var(--clr-accent);
}


.footer-container .column p{
	color: var(--clr-light);
	font-size: var(--fs-h4);
}

.copyright h6 {
	padding-bottom: 5px;
	margin: 0;
	font-weight: var(--fw-light);
}


@media screen and (min-width: 100px) and (max-width: 600px) {
	.footer-container .row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}

	.footer-container .row .column {
		margin: 0;
		padding: 0;
	}

	.footer-container .row .column a {
		color: var(--clr-accent);
		text-decoration: none;
		margin: -29px;
	}

	.footer-container .row .column h3 {
		padding-top: 25px;
	}

	.footer__link {
		margin: 0px;
		padding-left: 0px;
	}

	.social-media {
		margin: 2px;
		padding-left: 45px;
	}
}