*,
*::before,
*::after {
	box-sizing: border-box;
}

/* custom properties */

:root {
	--ff-primary: 'Hina Mincho', serif;
	--ff-secondary: 'Kotta One', monospace;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #fdefef;
	--clr-dark: #20202c;
	--clr-accent: #c90460;

	--fs-h1: 4rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;
}

@media screen and (min-width: 600px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
}

section {
	padding: 5em 2em;
}

img {
	display: block;
	width: 100%;
}

strong {
	font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1);
}
h2 {
	font-size: var(--fs-h2);
}
h3 {
	font-size: var(--fs-h3);
}

.section__title {
	margin-bottom: 0.25em;
}

.section__title--heading {
	font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
	color: var(--clr-accent);
	margin: 0 1.5em;
	padding: 5em;
	font-size: 40px;
	padding-left: 0px;
}

.section__title--heading strong {
	color: var(--clr-light);
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
	letter-spacing: .3rem;
}

.feature__subtitle {
	margin: 0;
	font-size: var(--fs-h3);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	margin-right: 800px;
}

.logo {
	font-size: 1.8rem;
	font-family: var(--ff-primary);
	color: var(--clr-light);
	padding-left: 3em;
}

.nav {
	position: fixed;
	background-color: var(--clr-dark);
	color: var(--clr-light);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
}

.nav__list {
	list-style: none;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav__link {
	color: inherit;
	font-weight: var(--fw-bold);
	font-size: var(--fs-h2);
	text-decoration: none;
}

.nav__link:hover {
	color: var(--clr-accent);
}

.nav-toggle {
	padding: 1.5em;
	background: transparent;
	border: 0;
	cursor: pointer;
	position: absolute;
	right: 1em;
	z-index: 1000;
}

.nav-open .nav {
	transform: translateX(0);
}

.nav-open .nav-toggle {
	position: fixed;
}

.nav-open .hamburger {
	transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
	transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
	opacity: 0;
}

.hamburger {
	display: block;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	background: var(--clr-light);
	width: 3em;
	height: 2px;
	border-radius: 1em;
	transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
}

.hamburger::before {
	top: 6px;
}
.hamburger::after {
	bottom: 6px;
}

.intro__img {
	position: relative;
}

.main-image {
	background-image: url(../img/hero-background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
}

/* my work portfolio */

.my-work h2 {
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	font-family: var(--ff-primary);
	margin-top: 0px;
	margin-bottom: 0.5rem;
	color: var(--clr-light);
}

.content-wrapper .feature__subtitle {
	display: flex;
	flex-direction: row;
	margin: 0;
	line-height: 1.6;
}

.features {
	margin: 100px;
}

.grid {
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.grid > div {
	display: flex;
	flex-basis: calc(50% 45px);
	justify-content: center;
	flex-direction: row;
}

.grid > div:last-child {
	display: flex;
	margin-top: 0px;
	flex-basis: calc(48% - 45px);
	justify-content: center;
	flex-direction: column;
}

/* .grid > div > div {
	display: flex;
	justify-content: center;
	flex-direction: row;
} */

.box {
	margin: 12px 10px;
	align-items: center;
	line-height: 1.5;
}

.box2 .feature__subtitle {
	padding: 30px;
}

.box2 .feature__subtitle--heading-three {
	font-size: 2.3rem;
	color: var(--clr-light);
}

.box2 .feature__subtitle--heading-four {
	font-size: 1.6rem;
	padding-bottom: 0px;
	color: var(--clr-light);
}

.box2 .feature__subtitle--heading-p {
	padding: 38px;
	padding-top: 0;
	line-height: 1.6;
	font-family: var(--ff-primary);
	font-size: 1.5rem;
	color: var(--clr-light);
}

.box3 .feature__subtitle {
	padding: 30px;
	color: var(--clr-light);
}

.box3 .feature__subtitle--heading-three {
	font-size: 2.3rem;
	color: var(--clr-light);
}

.box3 .feature__subtitle--heading-four {
	font-size: 1.6rem;
	padding-bottom: 0px;
	color: var(--clr-light);
}

.box3 .feature__subtitle--heading-p {
	padding: 38px;
	padding-top: 0;
	line-height: 1.6;
	font-family: var(--ff-primary);
	font-size: 1.5rem;
	color: var(--clr-light);
}

.box6 .feature__subtitle {
	padding: 30px;
}

.box6 .feature__subtitle--heading-three {
	font-size: 2.3rem;
	color: var(--clr-light);
}

.box6 .feature__subtitle--heading-four {
	font-size: 1.6rem;
	padding-bottom: 0px;
	color: var(--clr-light);
}

.box6 .feature__subtitle--heading-p {
	padding: 38px;
	padding-top: 0;
	line-height: 1.6;
	font-family: var(--ff-primary);
	font-size: 1.5rem;
	color: var(--clr-light);
}

.box7 .feature__subtitle {
	padding: 30px;
	color: var(--clr-light);
}

.box7 .feature__subtitle--heading-three {
	font-size: 2.3rem;
	color: var(--clr-light);
}

.box7 .feature__subtitle--heading-four {
	font-size: 1.6rem;
	padding-bottom: 0px;
	color: var(--clr-light);
}

.box7 .feature__subtitle--heading-p {
	padding: 38px;
	padding-top: 0;
	line-height: 1.6;
	font-family: var(--ff-primary);
	font-size: 1.5rem;
	color: var(--clr-light);
}


.box10 .feature__subtitle {
	padding: 30px;
}

.box10 .feature__subtitle--heading-three {
	font-size: 2.3rem;
	color: var(--clr-light);
	
}

.box10 .feature__subtitle--heading-four {
	font-size: 1.6rem;
	padding-bottom: 0px;
	color: var(--clr-light);
	margin: 0 120px;
}

.box10 .feature__subtitle--heading-p {
	padding-top: 0;
	line-height: 1.6;
	font-family: var(--ff-primary);
	font-size: 1.5rem;
	color: var(--clr-light);
}


/* about me */
.about-me {
	background-color: #adacac;
	padding: 4rem;
	
}

.about-me h2 {
	position: relative;
	padding: 0px;
	padding-bottom: 20px;
	color: var(--clr-light);
	font-size: 36px;
	font-family: var(--ff-primary);
	text-transform: uppercase;
}

.about-me h3 {
	position: relative;
	padding: 10px;
	color: var(--clr-light);
	font-size: 25px;
}

.about-me p {
	position: relative;
	padding: 10px;
	color: var(--clr-light);
	font-size: 1.2em;
	line-height: 25px;
	margin: 0;
}

.about-me .link-img{
	background: url('/img/link-img.jpg') no-repeat;
	width: 200px;
    height: 200px;
    margin-top: -302px;
    margin-right: 0px;
    float: right;
    border-radius: 50%;
	position: relative;
}


#me h5{
	font-size: 2.3rem;
	font-family: 'Bebas Neue', cursive;
	margin-top: -36px;
    margin-right: -44px;
    float: right;
	color: var(--clr-light);
	font-weight: 100;
	position: relative;
}

#me  h5:after {
	content: '';
	display: table;
	clear: both;
}

#me .link-img:after {
	content: '';
	display: table;
	clear: both;
}


/* footer starts here */
.footer-container {
	background-color: #030e97;
	text-align: center;
	color: var(--clr-light);
	padding: 2em 0;
}

.footer-container .company-details h2 {
	color: var(--clr-accent);
	margin: 65px;
	font-size: 2rem;
	text-align: center;
	font-family: var(--ff-primary);
}

.footer-container .row {
	margin-bottom: 20px;
	line-height: 23px;
}

.footer-container .row .column {
	float: left;
	width: 33.33%;
	padding: 10px;
}

.footer-container .row .column a {
	color: var(--clr-accent);
	text-decoration: none;
}

.footer-container .row .column a:hover {
	color: var(--clr-light);
}

.footer-container .row:after {
	content: '';
	display: table;
	clear: both;
}

.footer-container .row .column h3 {
	font-size: 25px;
	font-family: var(--ff-primary);
	padding-bottom: 32px;
}

.footer-container .column .social-media li {
	display: inline-block;
    padding: 5px;
    margin-right: 56px;
    font-size: 1.8rem;	
}


.footer-container .column .social-media i{
    color: var(--clr-accent);
    margin-right: 0px;
} 

.footer-container .column .social-media i:hover{
	color: var(--clr-light);
}



.copyright p {
	padding-bottom: 5px;
	margin: 0;
}



/* media query start */

/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 200px) and (max-width: 400px) {
	html {
		width: 100%;
		overflow-x: hidden !important;
	}
	header,
	main {
		width: 100%;
		overflow-x: hidden !important;
	}

	.logo {
		padding: 0 1.7rem;
	}
	.nav-toggle {
		display: none;
	}

	.section__title--heading {
		padding-top: 50px;
		padding-left: 20px;
		font-size: 2rem;
	}

	.features {
		margin: 10px;
		padding: 0px;
	}

	.grid > div {
		display: flex;
		flex-basis: calc(100% - 2px);
		justify-content: center;
		flex-direction: row;
	}

	.grid > div:last-child {
		display: flex;
		margin-top: 0px;
		flex-basis: calc(99% - 2px);
		justify-content: center;
		flex-direction: column;
	}
	.box1 {
		order: 1;
	}
	.box1 img {
		width: 100%;
		cursor: pointer;
	}

	.box2 {
		order: 2;
	}
	.box2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
	}

	.box2 .feature__subtitle--heading-three {
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}

	.box2 .feature__subtitle--heading-four {
		font-size: 0.9rem;
		padding: 0px;
		margin-bottom: 80px;
	}

	.box2 .feature__subtitle--heading-p {
		display: none;
	}

	.box3 {
		order: 4;
	}

	.box3 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box3 .feature__subtitle--heading-three {
		font-size: 1rem;
		margin: 0px 0px;
	}

	.box3 .feature__subtitle--heading-four {
		font-size: 1rem;
		padding-bottom: 0px;
		margin-bottom: 80px;
	}

	.box3 .feature__subtitle--heading-p {
		display: none;
	}

	.box4 {
		order: 3;
		margin: 0;
		padding: 0;
	}

	.box4 img {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.box5 {
		order: 5;
		margin: 0;
		padding: 0;
	}
	.box5 img {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.box6 {
		order: 6;
		padding: 20px;
	}

	.box6 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
	}

	.box6 .feature__subtitle--heading-three {
		font-size: 1rem;
		margin: 0px 0px;
	}
	.box6 .feature__subtitle--heading-four {
		font-size: 1rem;
		padding: 0px 0px;
		margin-bottom: 80px;
	}

	.box6 .feature__subtitle--heading-p {
		display: none;
	}

	.box7 {
		order: 8;
	}
	.box7 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
	}

	.box7 .feature__subtitle--heading-three {
		font-size: 1rem;
		margin: 0px 0px;
	}
	.box7 .feature__subtitle--heading-four {
		font-size: 1rem;
		padding-bottom: 0px;
	}

	.box7 .feature__subtitle--heading-p {
		display: none;
	}

	.box8 {
		order: 7;
	}

	.box8 {
		width: 50%;
	}

	.about-me {
		background-image: url(../img/about-me.png);
		background-repeat: no-repeat;
	}
	.about-me h2 {
		font-size: 1.2rem;
		margin: 0;
		padding: 0;
		line-height: 2.4;
	}

	.about-me h3 {
		font-size: 0.9rem;
		margin: 0;
		padding: 0;
	}
	.about-me p {
		display: none;
	}
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 401px) and (max-width: 767px) {
	html {
		width: 100%;
		overflow-x: hidden !important;
	}
	header,
	main {
		width: 100%;
		overflow-x: hidden !important;
	}

	.logo {
		padding: 0 1.7rem;
	}
	
	.section__title--heading {
		padding-top: 50px;
		padding-left: 20px;
		font-size: 2rem;
	}

	body {
		background-color: black;
		width: 100%;
		overflow-x: hidden !important;
	}

	.features {
		margin: 10px;
		padding: 0px;
	}

	.grid > div {
		display: flex;
		flex-basis: calc(100% - 2px);
		justify-content: center;
		flex-direction: column;
	}

	.grid > div:last-child {
		display: flex;
		margin-top: 0px;
		flex-basis: calc(99% - 2px);
		justify-content: center;
		flex-direction: column;
	}
	.box1 {
		order: 1;
	}
	.box1 img {
		width: 100%;
		cursor: pointer;
	}

	.box2 {
		order: 2;
	}
	.box2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
	}

	.box2 .feature__subtitle--heading-three {
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}

	.box2 .feature__subtitle--heading-four {
		font-size: 1rem;
		padding: 0px;
		margin-bottom: 80px;
	}

	.box2 .feature__subtitle--heading-p {
		display: none;
	}

	.box3 {
		order: 4;
	}

	.box3 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box3 .feature__subtitle--heading-three {
		font-size: 1rem;
		margin: 0px 0px;
	}

	.box3 .feature__subtitle--heading-four {
		font-size: 1rem;
		padding-bottom: 0px;
		margin-bottom: 80px;
	}

	.box3 .feature__subtitle--heading-p {
		display: none;
	}

	.box4 {
		order: 3;
		margin: 0;
		padding: 0;
	}

	.box4 img {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.box5 {
		order: 5;
		margin: 0;
		padding: 0;
	}
	.box5 img {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.box6 {
		order: 6;
		padding: 20px;
	}

	.box6 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
	}

	.box6 .feature__subtitle--heading-three {
		font-size: 1rem;
		margin: 0px 0px;
		align-items: center;
	}


	.box6 .feature__subtitle--heading-four {
		font-size: 1rem;
		padding: 0px 0px;
		margin-bottom: 80px;
		align-items: center;
	}

	.box6 .feature__subtitle--heading-p {
		display: none;
	}

	.box7 {
		order: 8;
	}

	
	.box7 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
	}

	.box7 .feature__subtitle--heading-three {
		font-size: 1rem;
		margin: 0px 0px;
		word-spacing: 5px;
		margin-right: 10px;
	}

	.box7 .feature__subtitle--heading-four {
		font-size: 1rem;
		padding-bottom: 0px;
		word-spacing: 5px;
	}

	.box7 .feature__subtitle--heading-p {
		display: none;
	}

	.box8 {
		order: 7;
	}

	.box8 {
		width: 50%;
	}

	.box9 {
		order: 9;
	}

	.box10 {
		order: 10;
	}

	.box10 p {
		display: none;
	}


	.about-me h2 {
		position: relative;
		padding: 0px;
		margin: 0;
		font-size: 1.7rem;
		line-height: 2.1;
	}

	.about-me h3 {
		position: relative;
		padding: 0px;
		color: var(--clr-accent);
		font-size: 1.5rem;
		line-height: 1.5;
	}

	.about-me p {
		position: relative;
		padding: 0px;
		padding-top: 20px;
		color: var(--clr-accent);
		font-size: 0.9em;
		line-height: 1.4;
	}

	.about-me .link-img {
		
		display: none;
	}
	
	#me h5 {
		display: none;
		
	}


}

/* Medium devices (landscape tablets, 768px and up to 992) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
	body {
		/* background-color: purple; */
	}
	.features {
		margin: 10px;
		padding: 12px;
	}

	.grid > div {
		display: flex;
		flex-basis: calc(46% - 2px);
		justify-content: center;
		flex-direction: row;
	}

	.grid > div:last-child {
		display: flex;
		margin-top: 0px;
		flex-basis: calc(46% - 2px);
		justify-content: center;
		flex-direction: column;
	}
	.box1 img {
		width: 100%;
	}

	.box2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box2 .feature__subtitle--heading-three {
		font-size: 1.6rem;
		margin: 0px 0px;
	}

	.box2 .feature__subtitle--heading-four {
		font-size: 1.2rem;
		padding-bottom: 0px;
	}

	.box2 .feature__subtitle--heading-p {
		display: none;
	}

	.box3 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box3 .feature__subtitle--heading-three {
		font-size: 1.7rem;
		margin: 0px 0px;
	}

	.box3 .feature__subtitle--heading-four {
		font-size: 1.4rem;
		padding-bottom: 0px;
	}

	.box3 .feature__subtitle--heading-p {
		display: none;
	}

	.box4 img {
		width: 75%;
	}

	.box5 img {
		width: 85%;
	}

	.box6 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box6 .feature__subtitle--heading-three {
		font-size: 1.8rem;
		margin: 0px 100px;
	}
	.box6 .feature__subtitle--heading-four {
		font-size: 1.2rem;
		padding: 0px 0px;
	}

	.box6 .feature__subtitle--heading-p {
		display: none;
	}

	.box7 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box7 .feature__subtitle--heading-three {
		font-size: 1.6rem;
		margin: 0px 0px;
	}
	.box7 .feature__subtitle--heading-four {
		font-size: 1.2rem;
		padding-bottom: 0px;
	}

	.box7 .feature__subtitle--heading-p {
		display: none;
	}

	.about-me .link-img {
		display: none;
	}
	
	#me h5 {
		display: none;
	}




}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 901px) and (max-width: 1348px) {
	body {
		/* background-color: yellow; */
	}

	
	.features {
		margin: 12px;
		padding: 60px;
	}

	.grid > div {
		display: flex;
		flex-basis: calc(46% - 12px);
		flex-direction: row;
	}

	.grid > div:last-child {
		display: flex;
		margin-top: 0;
		padding: 0;
		flex-basis: calc(46% - 2px);
		flex-direction: column;
	}
	.box1 img {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.box2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
		padding: 24px;
	}

	.box2 .feature__subtitle--heading-three {
		font-size: 1.8rem;
		margin: 0;
		padding: 0;
	}

	.box2 .feature__subtitle--heading-four {
		font-size: 1.2rem;
		padding: 0;
		margin: 0;
	}

	.box2 .feature__subtitle--heading-p {
		padding: 0;
		margin: 0;
		line-height: 1.3;
		font-family: var(--ff-primary);
		font-size: 1.2rem;
	}

	.box3 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
		padding: 0;
	}

	.box3 .feature__subtitle--heading-three {
		font-size: 2.3rem;
		margin: 0;
		padding: 0;
	}

	.box3 .feature__subtitle--heading-four {
		font-size: 2rem;
		padding: 0;
		margin: 0;
	}

	.box3 .feature__subtitle--heading-p {
		padding: 20px;
		margin: 0;
		line-height: 1.6;
		font-family: var(--ff-primary);
		font-size: 1.2rem;
	}

	.box4 img {
		width: 90%;
		margin: 0;
		padding-left: 20px;
	}

	.box5 img {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.box6 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
		padding: 0;
	}

	.box6 .feature__subtitle--heading-three {
		font-size: 2.3rem;
		margin: 20px;
		padding: 20px;
	}
	.box6 .feature__subtitle--heading-four {
		font-size: 1.6rem;
		padding: 0;
		margin: 0;
	}

	.box6 .feature__subtitle--heading-p {
		padding: 0;
		margin: 0;
		line-height: 1.6;
		font-family: var(--ff-primary);
		font-size: 1.3rem;
	}

	.box7 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
		margin: 0;
		padding: 0;
	}

	.box7 .feature__subtitle--heading-three {
		font-size: 2.2rem;
		margin: 0;
		padding: 0;
	}
	.box7 .feature__subtitle--heading-four {
		font-size: 1.6rem;
		padding: 0;
		margin: 0;
	}

	.box7 .feature__subtitle--heading-p {
		padding: 0px;
		margin: 0;
		line-height: 1.6;
		font-family: var(--ff-primary);
		font-size: 1.4rem;
	}

	.about-me p {
		margin: 0;
	}

	.about-me .link-img {
		margin-top: -296px;
		margin-right: -54px;
	}

	#me h5 {
		margin-top: -54px;
		margin-right: -54px;
		
	}

}

@media only screen and (min-width: 1349px) {
	body {
		/* background-color: red; */
	}

	.grid > div {
		display: flex;
		flex-basis: calc(49% - 12px);
		flex-direction: row;
	}

	.grid > div:last-child {
		display: flex;
		margin-top: 0px;
		flex-basis: calc(43% - 2px);
		flex-direction: column;
	}

	.box img {
		width: 100%;
	}

	.box2 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box2 .feature__subtitle--heading-three {
		font-size: 2.4rem;
		margin: 0px 120px;
	}

	.box2 .feature__subtitle--heading-four {
		font-size: 1.6rem;
		padding-bottom: 0px;
		margin: 0 120px;
	}

	.box2 .feature__subtitle--heading-p {
		padding: 0px 110px;
		line-height: 1.3;
		font-family: var(--ff-primary);
		font-size: 1.3rem;
	}

	.box3 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box3 .feature__subtitle--heading-three {
		font-size: 2.4rem;
		margin: 0px 175px;
	}
	.box3 .feature__subtitle--heading-four {
		font-size: 1.6rem;
		padding-bottom: 0px;
		margin: 0 120px;
	}

	.box3 .feature__subtitle--heading-p {
		padding: 0px 28px;
		line-height: 1.3;
		font-family: var(--ff-primary);
		font-size: 1.3rem;
		margin: 0 90px;
	}

	.box6 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box6 .feature__subtitle--heading-three {
		font-size: 2.4rem;
		margin: 0px 170px;
	}
	.box6 .feature__subtitle--heading-four {
		font-size: 1.6rem;
		padding: 0px 0px;
		margin: 0 120px;
	}

	.box6 .feature__subtitle--heading-p {
		padding: 0px 110px;
		line-height: 1.3;
		font-family: var(--ff-primary);
		font-size: 1.3rem;
	}

	.box7 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		color: var(--clr-accent);
		line-height: 1.5;
	}

	.box7 .feature__subtitle--heading-three {
		font-size: 2.5rem;
		margin: 0px 110px;
	}
	.box7 .feature__subtitle--heading-four {
		font-size: 1.9rem;
		padding-bottom: 0px;
		margin: 0 120px;
	}

	.box7 .feature__subtitle--heading-p {
		padding: 0px 120px;
		line-height: 1.3;
		font-family: var(--ff-primary);
		font-size: 1.4rem;
	}
	.about-me p {
		padding-right: 34rem;
	}
}
